/* #root {
  background-color: rgba(18, 18, 18, 255);
} */

.App {
  background-color: rgba(18, 18, 18, 255);
  overflow: hidden;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* SIDEBAR  */

.sidebar-container a {
  color: rgb(165, 165, 165);
}

.sidebar-container a:hover {
  text-decoration: none;
  color: white;
}

.sidebar-container {
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 2;
  font-size: 1rem;
  font-weight: 700;
  /* line-height: 1.2; */
}
.sidebar {
  padding: 10px;
  height: 80%;
  width: 300px;
}

.sidebar ul li {
  padding-left: 20px;
  padding-top: 5px;
}

.sidebar ul li p {
  padding-bottom: 4px;
}

#scroll {
  background-color: rgb(41, 32, 32);
}

#scrollbar-list {
  font-weight: 600;
  overflow: scroll;
  height: 60%;
  scrollbar-color: black;
  scrollbar-width: thin;
}

#search-icon {
  position: relative;
  left: 5%;
  bottom: 30px;
  fill: white;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  cursor: pointer;
}

.react-icon {
  font-size: 2rem;
  margin-right: 10px;
}

.activehome {
  background-color: rgba(46, 41, 41, 0.945);
  width: 100%;
  border-radius: 5px;
}

#install-app {
  position: fixed;
  margin-bottom: 110px;
  /* padding-bottom: 10px; */
  left: 0;
  width: 260px;
  height: 40px;
  bottom: 0;
  z-index: 3;
  background-color: black;
}

#install-app a {
  padding-bottom: 15px;
  background-color: black;
}

/* SIDEBAR  */
/* ///////////////////////////////////////////////////////////////  */
/*FOOTER*/
.footer-icon {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 25px;
}

.footer-icon-play {
  font-size: 40px;
}

#playbar {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(31, 27, 27);
  height: 110px;
  z-index: 2;
  padding-top: 3px;
  padding-bottom: 3px;
}

#playbar .leftFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#playbar .middleFooter .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#playbar img {
  height: 70px;
  width: 70px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

#playbar .card {
  background-color: #181818;
}

#playbar .card-text {
  color: lightgrey;
  font-size: 15px;
}

#footer-song {
  color: white;
  font-size: 17px;
  font-weight: 700;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footer-artist {
  font-size: 11px;
}

.footer-container .col-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.song-minute-duration {
  color: lightgrey;
  font-size: 14px;
}

#volume-bar {
  color: white;
  margin-top: 20px;
  width: 120px;
  height: 7px;
}

progress {
  margin-top: 10px;
  display: inline-block;
  width: 71%;
  max-height: 5px;
  left: 490px;
  top: 60px;
  background: rgb(255, 255, 255);
  border-radius: 60px;
}

/* FOOTER  */

/* ///////////////////////////////////////////////////////////////  */

/* HOME */

.main-container {
  margin-bottom: 190px;
  margin-left: 300px;
  margin-right: 0px;
  padding-right: 0px;
}

.album-card2-cont {
  background-color: rgba(31, 27, 27, 0.849);
  padding: 0.5rem;
  border-radius: 2%;
  margin-bottom: 0.5rem;
}

.album-card2-cont:hover {
  background-color: rgb(59, 55, 55);
}

.album-card2-cont a:hover {
  text-decoration: none;
}

.album-card2 {
  position: relative;
  color: white;
  margin-bottom: 0.5rem;
  line-clamp: 2;
  /* width: 95%; */
}

.album-card2 img {
  box-shadow: 2px 3px rgb(36, 30, 30);
  border-radius: 2%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.album-card2 h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 10px;
  /*For line clamp*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album-card2 p {
  font-size: 0.9rem;
}

.home-artist-name {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  margin-left: 10px;
}

/* HOME */

/* ///////////////////////////////////////////////////////////////  */

/* ALBUM PAGE  */
.album-songs-container {
  position: relative;
  background: rgba(124, 9, 124, 0.219);
  background: linear-gradient(
    180deg,
    rgb(71, 3, 54) 0%,
    rgba(18, 18, 18, 255) 150px
  );
  background-repeat: no-repeat;
}

/* ///////////////////////////////////////////////////////////////  */

.album-body {
  font-family: "Poppins";
  font-style: normal;
}

.artist-body {
  font-family: "Poppins";
  font-style: normal;
}

/* ///////////////////// */
.opening-sect {
  background: linear-gradient(
    180deg,
    rgb(63, 7, 7) 0%,
    rgba(18, 18, 18, 255) 60%
  );
  background-repeat: no-repeat;
}

.home-body {
  background-color: rgba(18, 18, 18, 255);
  font-family: "Poppins"; /* Arial, Helvetica, sans-serif; */
}

.section-heading {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-left: 2px;
}

.subheading-recommended {
  font-size: 11px;
  color: white;
  margin-left: 2px;
}

#fontaines {
  padding-bottom: 11px;
}

#corps {
  padding-bottom: 11px;
}

h4.see-all {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.623);
  font-weight: 600;
  align-self: center;
  margin-right: 5px;
}

button.see-all-button {
  border: none;
  background-color: rgba(18, 18, 18, 255);
}

.title-row {
  justify-content: space-between;
}

.morning-card {
  display: flex;
  flex-direction: row;
  background-color: rgba(100, 97, 97, 0.267);
  color: white;
  width: 92%;
  height: 4rem;
  align-items: center;
  border-radius: 3%;
  margin-bottom: 0.5rem;
}

.morning-card img {
  width: 4rem;
}

.morning-card h5 {
  padding-left: 0.3rem;
  font-size: 0.6rem;
  font-weight: 600;
}

.morning-card:hover {
  background-color: rgba(55, 55, 55, 0.267);
}

.pr-1,
.px-1 {
  padding-right: 0.1rem !important;
}

.dropdown-position {
  position: absolute;
  right: 20px;
  top: 10px;
}

#dropdownMenuButton {
  width: 120px;
}

#profilePic {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

#arrow1 {
  position: absolute;
  left: 0px;
  top: 10px;
  border: none;
}

#arrow2 {
  position: absolute;
  left: 40px;
  top: 10px;
}

.dropdown-menu {
  background-color: rgba(31, 27, 27);
}

.dropdown-item {
  background-color: rgba(31, 27, 27);
  color: white;
}

.arrow-btn {
  width: 25px;
  height: 25px;
  background-color: rgba(20, 18, 18, 0.384);
  color: white;
  border-radius: 50%;
  border: none;
}

.arrow-btn-available {
  background-color: rgba(20, 18, 18, 0.767);
}

.arrow-btn-available:hover {
  background-color: rgba(39, 31, 31, 0.767);
}

.dropdown-login-button {
  height: 27px;
  width: 110px;
  background-color: rgb(20, 18, 18);
  color: white;
  border-radius: 25px;
  border: none;
  font-size: 0.65rem;
}

/* @media (min-width: 576px) {
  .main-container {
    margin-left: 175px;
  }

  .main-container-album {
    margin-left: 175px;
  }

  .keep-on-page {
    position: absolute;
    right: 215px;
  }

  .keep-on-page-clock {
    position: absolute;
    right: 225px;
  }
} */

.reflect {
  -webkit-box-reflect: below 2px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.artist-songs-container {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgb(65, 60, 60) 0%,
    rgba(18, 18, 18, 255) 150px
  );
  background-repeat: no-repeat;
}

.spotify-circle {
  position: relative;
  height: 40px;
  width: 40px;
  background: #1db954;
  border-radius: 50%;
}

.spotify-circle:hover {
  transform: scale(1.1);
}

.album-card2:hover .play-button-div {
  transform: translateY(-1rem);
  opacity: 1;
}

.morning-card:hover .play-button-div2 {
  transform: translateY(-0, 5rem);
  opacity: 1;
}

.play-button-div2 {
  opacity: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  border-radius: 50%;
  bottom: 29px;
  left: 187px;
  transition: all 0.5s;
  /* transition: translateY 0.4s; */
}

.play-button2 {
  color: #1db954;
  font-size: 2rem;
  /* box-shadow: 2px 3px black; */
  /* bottom: 2rem; */
}

.play-button-div {
  opacity: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  border-radius: 50%;
  bottom: 6rem;
  right: 3rem;
  transition: all 0.5s;
  /* transition: translateY 0.4s; */
}

.play-button {
  color: #1db954;
  font-size: 2.5rem;
  /* box-shadow: 2px 3px black; */
  /* bottom: 2rem; */
}

.play-button-bg {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -0.3rem;
  right: -0.1rem;
  z-index: -1;
  background-color: white;
}

.table-borderless td {
  color: white;
  font-size: 0.7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.top-of-artist-songs {
  display: flex;
}

.half-of-pause {
  position: absolute;
  top: 13px;
  height: 16px;
  width: 4px;
  background: white;
}

.first-pause {
  left: 23px;
}

.second-pause {
  left: 13px;
}

.follow {
  align-self: center;
  margin-left: 20px;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(231, 228, 228, 0.24);
  border-radius: 3px;
}

.follow:hover {
  border: 1px solid white;
}

.dots {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.small-circle {
  margin-left: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.226);
}

.album-dots:hover .small-circle {
  background-color: white;
}

.dots:hover .small-circle {
  background-color: white;
}

.artist-song-rows {
  flex-direction: row;
}

td img {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 5px;
  margin-left: 10px;
  margin-right: 2px;
}

.table td,
.table th {
  padding-right: 0px;
}

.round-artist {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.artist-description {
  margin-left: 10px;
}

.artist-description p {
  font-size: 0.5rem;
  color: rgb(109, 108, 108);
}

.artist-description h3 {
  font-size: 0.7rem;
  color: white;
  font-weight: 700;
  margin-top: 0%;
}

.posted {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.posted p {
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 6px;
}

.table-borderless tr:hover {
  background: rgb(59, 55, 55);
}

.artists-jumbo {
  margin-bottom: 0%;
  padding-bottom: 0px;
  padding-top: 70px;
  padding-right: 200px;
}

.artists-jumbo p {
  margin-bottom: 0%;
  padding: 0%;
}

.morning-card h5 {
  font-size: 12px;
}

#populartitle {
  font-size: 12px;
  font-weight: 600;
  color: lightgrey;
  padding-left: 0px;
}

#populartitlenumber {
  width: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
}

#popularcover {
  width: 20px;
  padding-right: 10px;
}

#popularplays {
  color: lightgrey;
  font-size: 11px;
}

#popularlenght {
  color: lightgrey;
  font-size: 11px;
}

#bestOf {
  font-size: 12px;
}

#playlist {
  font-size: 10px;
}

#postedBy {
  font-size: 10px;
}

.table {
  margin-right: 20px;
}

.table td {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #e6e7e8;
}

.albumsong {
  font-size: 12px;
}

tr.border_bottom td {
  border-bottom: 1px solid #2e2e2e;
}

/* ////////////////////// 

#loginlogo {
  height: 100px;
  width: 180px;
}

h6.roosa-h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h6.roosa-h6 span {
  background: #fff;
  padding: 0 10px;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
}

.btn-black {
  color: #fff;
  background-color: #000;
}

.btn.roosa-btn {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;

  width: 100%;
  text-transform: uppercase;
  white-space: normal;
}

.btn.roosa-btn {
  padding: 16px 14px 18px;
}


#terms {
  font-size: 10px;
}

#forgot {
  font-size: 15px;
}

.checkbox {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid #41b883;
  background-color: green;
}

.checkbox > input:checked + span::before {
  content: "\2713";
  display: inline-block;
  text-align: center;
  color: white;
  position: absolute;
  right: 7.5rem;
  bottom: 0.2rem;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}

h6.roosa-h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 12px;
}

.buttons-wrap {
  display: flex;
  
  max-width: 100%;
}

.main-container-login {
  margin: auto;
  max-width: 500px;
} */

.album-jumbo {
  background: rgb(243, 0, 231);
  background: rgb(243, 0, 231);
  background: linear-gradient(
    200deg,
    rgba(173, 6, 98, 0.518) 13%,
    rgba(194, 3, 187, 0.541) 25%,
    rgba(136, 4, 134, 0.71) 50%,
    rgba(81, 3, 95, 0.72) 75%
  );
  background-size: 100%;
  background-position: top;
  margin-bottom: 0%;
  padding: 20px;
}

.album-jumbo p {
  margin-bottom: 0%;
  padding: 0%;
}

.album-heart {
  color: white;
  position: absolute;
  left: 70px;
  top: 25px;
  margin-left: 20px;
  margin-right: 10px;
}

.album-dots {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.artist-name {
  color: rgba(255, 255, 255, 0.322);
}

.for-about-album {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.album-jumbo img {
  height: 150px;
  width: 150px;
  margin-top: 30px;
  margin-right: 10px;
}

.album-jumbo h1 {
  color: white;
  font-weight: 800;
  font-size: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album-jumbo p {
  color: white;
}

.album-jumbo img.round-artist1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  margin-right: 2px;
}

/* progress::-webkit-progress-value {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background: rgb(131, 129, 129);
  border-radius: 100px;
} */

.subheading-recommended {
  font-size: 11px;
  color: lightgrey;
}

.section-heading1 {
  color: white;
  font-size: 23px;
  font-weight: 700;
  margin-left: 1px;
  margin-top: 20px;
}
